@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;

$font:'Roboto', sans-serif;
$fontColor:#344A53;
$bubleBG:#FFAC88;
body{
    font-family: $font;
    margin: 0;
    margin-top: 100px;
    background-color: rgb(245, 157, 76);
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation{
    color: $fontColor;
    width: 40vw;
    min-width: 370px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    :nth-child(1){
        width: 52%;
        height: 30px;
        border-radius: 15px 0 0 15px ;
        text-align: center;
        font-size: 21px;
        font-family: $font;
        opacity: .5;
        color: black;
        transition: 3s;
        cursor: pointer;
        min-width: 300px;
    }
    :nth-child(1):hover{
        opacity: .9;
    }
    :nth-child(1):focus{
        opacity: 1;
        font-weight: 500;
        color: black;
        // border: white 1px solid;
    }

    :nth-child(2){
        opacity: .55;
        width: 100px;
        height: 35.5px;
        border-radius: 0 15px  15px 0;
        font-weight: 500;
        font-size: 15px;
        transition: 3s;
        cursor: pointer;
    }

    :nth-child(2):hover{
        opacity: .9;
    }
    :nth-child(2):focus{
        opacity: 1;
        font-weight: 500;
        color: black;
    }
}

.city-n{
    font-weight: 700;
    font-size: 56.1741px;
    line-height: 68px;
    font-family: $font;
    color: $fontColor;
    text-align: center;
    text-transform: capitalize;
}


.weatherBubble{
    border-radius: 55px;
    background-color: $bubleBG;
    width: 40vw;
    min-width: 370px;
    height: 500px;
    display: flex;
    flex-direction: row;
    color: $fontColor;


    &__text{
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100%;
        justify-content: space-around;
        align-items: center;

        >:nth-child(1){
            text-transform: capitalize;
            font-weight: 700;
            font-size: 45px;
            line-height: 18px;
        }

        >:nth-child(2){
            font-weight: 700;
            font-size: 99px;
            line-height: 68px;
        }

        >:nth-child(3){
            font-weight: 700;
            font-size: 22px;
            line-height: 16px;
        }

        >:nth-child(4){
            font-weight: 700;
            font-size: 20.3502px;
            line-height: 10px;
        }
    }

    &__img{
            border-radius: 0 55px 55px 0;
            background-color:transparent;
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            :nth-child(1){
                        width: 100%;
                        height: 300px;
                        background-image: url(../img/sun.svg);
                        background-repeat: no-repeat;
                        background-size: auto 100%;
            }
    }
}

#navForm{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 950px){
    .weatherBubble{
        >:nth-child(1){
            >:nth-child(1){
                font-size: 39px;
            }
        }
    }
}
