@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
$font:'Roboto', sans-serif;

.graph{
    margin-top: 11vh;
    font-family: $font;
    width: 50%;
    aspect-ratio: 4 / 1;
    min-width: 375px;

    &__img{
        width: 100%;
        height: 50%;

        img{
            width: 100%;
            height: 100%;
        }
    }

    &__content{
        width: 90%;
        height: 50%;
        margin: 0 5% 0 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        span{
            font-weight: 700;
            font-size: 19px;
            line-height: 15px;
            text-transform: capitalize;
        }
    }
}

