
.HourlyForecastContainer{
    display: flex;
    flex-direction: row;
    width: 50%;
    justify-content: space-between;
}


.Hourly{
    // border: blue solid 3px;
    background: #FFAC88;
    border-radius: 29.8758px;
    height:264.25px;
    width: 179.76px;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

        &__img{
            // border: rgb(40, 40, 134) solid 3px;
            width: 110%;
            height: 50%;

            >:nth-child(1){
                width: 100%;
                height: 100%;
            }
        }

        &__txt{
            // border: rgb(40, 40, 134) solid 3px;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
}


@media screen and (max-width: 480px){
    .HourlyForecastContainer{
        align-self: center;
        flex-direction: column;
        margin-top: 17px;
        gap: 15px;
    }

    .Hourly{
        width: 70vw;
    }
}


@media screen and (max-width: 1022px){
    .HourlyForecastContainer{
        margin-top: 17px;
        gap: 15px;
    }

    .Hourly{
        width: 70vw;
    }
}


@media screen and (max-width: 1000px){
    .HourlyForecastContainer{
        margin-left: -27vw;
    }
}
