
.HourlyForecastContainer{
    display: flex;
    flex-direction: row;
    border:red solid 2px ;
}


.Hourly{
    border: blue solid 3px;
    background: #FFAC88;
    border-radius: 29.8758px;
    height:264.25px;
    width: 179.76px;
    display: flex;
    flex-direction: column;
    align-items: center;

        &__img{
            border: rgb(40, 40, 134) solid 3px;
            width: 110%;
            height: 50%;
        }

        &__txt{
            border: rgb(40, 40, 134) solid 3px;
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
        }
}