@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
// font-family: 'Roboto', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
// font-family: 'Oxygen', sans-serif;

$font:'Roboto', sans-serif;
$font2: 'Oxygen', sans-serif;
$fontColor:#344A53;
$BG:#FF9D54;
$bubleBG:#FFAC88;

body{
    margin: 0;
    width: 100vw;
    background-color: $BG;
    font-family: $font2;
    padding-top: 7vh;
}



.navigation{
    width: 100vw;
    display: flex;
    justify-content: center;
    form{
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 27vw;
        min-width: 370px;
        height: 35px;

        >:nth-child(1){
            width: 79%;
            font-size: 25px;
            text-align: center;
            border-radius: 7px 0 0 7px;
            font-family: inherit;
            border-right: transparent;
            opacity: .5;
            background-color: transparent;
            color:black;
        }

        >:nth-child(1)::before{
            color: black;
        }

        >:nth-child(1):hover{
            opacity: 1;
        }
        >:nth-child(1):focus{
            opacity: 1;
            outline: none;
            background-color: transparent;
        }

        >:nth-child(2){
            width: 19%;
            font-size: 19px;
            text-align: center;
            border-radius: 0 7px 7px 0;
            border-left: transparent;
            font-family: inherit;
            background-color: transparent;
        }

        >:nth-child(2):hover{
            background-color: black;
            color: azure;
        }
    }
}

.city-n{
    font-size: 3em;
    text-align: center;
    margin: 100px 0;
}

.design-container{
    width: 70vw;
    padding: 0  15vw 0  15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.weatherBubble{
    width: 350px;
    height: 212.55px;
    background-color: $bubleBG;
    border-radius: 29px;
    padding-left: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &__text{

        height: 80%;
        padding: 10% 0 10% 0;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;


        >:nth-child(1){
            font-weight: 700;
            font-size: 19px;
            // line-height: 18px;
            color: $fontColor;
        }

        >:nth-child(2){
            font-weight: 700;
            font-size: 56.1741px;
            // line-height: 68px;
            color: $fontColor;
        }

        >:nth-child(3){
            font-weight: 700;
            font-size: 19px;
            // line-height: 16px;
            color: $fontColor;
        }

        >:nth-child(4){
            font-weight: 700;
            font-size: 17.3502px;
            // line-height: 10px;
            color: $fontColor;
        }
    }

    &__img{
        width: 57%;
        height: 90%;
    }
}
